/* @media (min-width: 768px) and (max-width: 1024px) { */
  .bigContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  
  }
  .containerGreeting{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 20%;
  }
  .greetingLogin{
 color:#FDEDD5;
 font-size: 50px;
 align-self: center;
 margin-top: 10%;

 
 }
 .boxAndImg{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin:5%;

 }
 .label{
  flex: flex;
  margin:5%;
 }
 .holaForm{
  background-color:#FDEDD5;
  flex-direction: column;
  padding: 10%;
  justify-items: center;
  justify-content: center;
  border-radius: 20px;

 }
 .label{
  font-size:x-large
 }
 .loginInput{
  padding: 5%;
 }
.logo{
  width: 30%;
  height: 30%;
  display: flex;
}
.loginInput {
  border-radius: 30px;
  margin: 5%;
}
.btnLogin {
  background-color:#FFBD59;
  align-self:center;
  font-size:x-large;
  margin:10%;
  display: flex;
  cursor:pointer;
  border-radius: 5px;
}
.btnLogin:hover{
  background-color:#FDEDD5 ;
}